/* Default Styles */

body {
    block-size: 100vh;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

#scoreboard, 
#outcome, 
#select {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header,
#outcome,  
footer {
    block-size: 10vh;
}

#scoreboard {
    block-size: 30vh;
}

#select {
    block-size: 30vh;
}

/* -------------------------------------------------------------------------- */

/* Header & Title */

header h1 {
    max-width: 100%;
    margin: 0;
    padding: 20px;
}

/* -------------------------------------------------------------------------- */

/* Human & Computer Scoreboard */

#scoreboard #human, 
#scoreboard #computer,
#scoreboard .score, 
#scoreboard .choice  {
    padding: inherit;
}

#scoreboard .score {
    font-size: xx-large;
}

#scoreboard .choice {
    font-size: 100px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------------------------------- */

/* Round Outcome */

#outcome {
    flex-direction: column;
    flex-wrap: nowrap;
}

#outcome div {
    margin: 10px;
}

/* -------------------------------------------------------------------------- */

/* Move Selection */

#select button {
    padding: 5px;
    margin: 10px;
    inline-size: 150px;
    block-size: 150px;
    border-radius: 20%;
    font-size: 100px;
}

/* -------------------------------------------------------------------------- */

/* Footer & Acknowledgements */

footer h2 {
    max-width: 100%;
    margin: 0;
    padding: 10px;
}