/* Default Styles */

body {
    block-size: 100vh;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

#scoreboard, 
#outcome, 
#select {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------------------------------- */

/* Header & Title */

header h1 {
    max-width: 100%;
    margin: 0;
    padding: 20px;
}

/* -------------------------------------------------------------------------- */

/* Human & Computer Scoreboard */

#scoreboard #human, 
#scoreboard #computer,
#scoreboard .score, 
#scoreboard .choice  {
    padding: inherit;
}

#scoreboard #human, 
#scoreboard #computer {
    inline-size: 200px;
    block-size: 200px;
    margin-inline: 20px;
    border: 2px solid black;
    border-radius: 20%;
}

#scoreboard .score {
    font-size: xx-large;
}

#scoreboard .choice {
    font-size: 100px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------------------------------- */

/* Round Outcome */

#outcome {
    flex-direction: column;
    flex-wrap: nowrap;
}

#outcome div {
    margin: 10px;
}

/* -------------------------------------------------------------------------- */

/* Move Selection */

#select button {
    inline-size: 150px;
    block-size: 150px;
    padding: 5px;
    margin: 10px;
    font-size: 100px;
    border-radius: 20%;
    border-block-end: 10px solid black;
}

#select button:active {
    border-block-end: 0;
}

/* -------------------------------------------------------------------------- */

/* Footer & Acknowledgements */

footer h2 {
    max-width: 100%;
    margin: 0;
    padding: 10px;
}